# Main server and web views
devpi-server
devpi-client
devpi-web

# Web extensions
devpi-findlinks
devpi-lockdown
devpi-json-info

# Tools
devpi-cleaner
#git+https://github.com/max-arnold/devpi-slack.git@eb598f705b918705c8fc6620773f6ed5c5e57e94  # 0.1.4
